@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');


/* Reset styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover;
}

/* Navigation Bar */
nav {
    font-family: "Baloo Bhai 2", sans-serif;
    background-color: #000000;
    background-size: cover;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 80px;
}

.search-bar {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 20px;
    padding: 5px;
    margin-right: 20px;
}

.search-bar input {
    font-family:'Trebuchet MS', sans-serif;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 20px;
    width: 200px;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
}

.location {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: white;
    margin-right: 20px;
}

.location a i {
    font-size: 20px;
    margin-right: 5px;
    color: #ffdb93; /* Food */
}

nav ul {
    font-size: large;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.hovr :hover{
    color: #ff914d;
}

/* Hero Section */
.hero {
    background: url('food-bg.jpg') center/cover no-repeat;
    color: rgb(0, 0, 0);
    padding: 50px 20px;
}

.hero button {
    background-color: #ff914d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Products */
.products {
    padding: 20px;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    width: 400px;
}

.product img {
    width: 100%;
    height: auto;
}

.product button {
    background-color: #ff914d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-bottom: 0;
}